.track-search{
    width: 100%;
    font-size: 13px;
    border-radius: 20%;
    padding: 5px;
}

.track-search-image img{
    height: 50px;
    border-radius: 20%;
}

.track-details{
    align-items: center;
}

.track-details-name-artist{
    width: 60%;
    gap: 30%;
}

.track-search:hover {
    border-radius: 25px;
    background-color: var(--dark-grey);
    transition: .3s;
}

.track-text{
    margin: 0;
}

.track-text{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    max-width: max-content;
}

@media (min-width: 768px) {
    
    .track-name, .track-artist{
        min-width: 165px;
        max-width: 165px;
    }
}

