<div id="collapsPlaylistSpotify" class="list-playlists overflow-auto collapse show">

    <div class="my-2">
        
        <div class="d-flex justify-content-between align-items-center">
            <button (click)="goBack()" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </button>

            @if (isOwner) {
                <!-- DELETE PLAYLIST -->
                <button class="btn" (click)="unfollowPlaylist()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg>
                </button>
            }
            @else if(!isOwner && isFollowing){
                <!-- UNFOLLOW BUTTON -->
                <button class="btn btn-red" (click)="unfollowPlaylist()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                    </svg>
                </button>
            }@else{
                <!-- FOLLOW PLAYLIST BUTTON -->
                <button class="btn btn-green" (click)="followPlaylist()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 1.5a.5.5 0 0 1 .5.5v6h6a.5.5 0 0 1 0 1H8.5v6a.5.5 0 0 1-1 0V8.5H2a.5.5 0 0 1 0-1h6V2a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </button>
            }
            
        </div>

        <div class="d-flex flex-column gap-2 align-items-center">
            
            <div class="edit-img">
                <img height="85" width="85" src="{{playlist?.images?.[0]?.url}}" alt="spotify-playlist">
                
                @if(isOwner){
                    <a routerLink="/home/playlist/edit/{{playlist?.id}}" class="edit-img-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </a>
                }
                
            </div>

            
            
            <h5 class="text-center">{{playlist?.name}}</h5>
            
            @if (isOwner) {
                <div>
                    <a routerLink="/home" class="btn btn-green">Add tracks</a>
                </div>
            }
        </div>

    </div>

    <ul class="list-group my-3">
        @if (playlist?.tracks) {
            @for (t of playlist.tracks; track t) {
                <li>
                    <app-track-detail
                        class="track-detail list-group-item d-flex gap-3 rounded-4" 
                        [track]=t
                        [followed]="isOwner"          
                        [playlistId]="playlist.id">            
                    </app-track-detail>
                </li>
            }
        }
    </ul>
</div>