<div class="title d-flex gap-2" [attr.data-bs-toggle]="isMobile ? 'collapse' : null" href="#collapsPlaylistSpotify" role="button" aria-expanded="false" aria-controls="collapsPlaylistSpotify">
        @if (!isPlaylistSelected) {
        
            <div class="title-content d-flex w-100 justify-content-between">

                <div>
                    <a routerLink="/home" class="btn custom-button custom-add-trash rounded-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                        </svg>
                    </a>
                </div>

                <div class="text-center">
                    <h6 class="text-center">My playlists</h6>
                    <img height="18" width="18" src="../../../assets/img/Spotify_Icon_RGB_White.png" alt="spotify-logo">
                </div>
                
                <div>
                    <a routerLink="/home/playlist/create" class="btn custom-button custom-add-trash rounded-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                        </svg>
                    </a>
                </div>
            </div>
        }
</div>

<div id="collapsPlaylistSpotify" class="list-playlists overflow-auto collapse show">

    
        <ul class="list-group my-3">

            @for (playlist of playlists; track playlist) {
                <li (click)="selectedItem(playlist.id)">
                    <app-playlist-detail [playlist]=playlist/>
                </li>
            }
        </ul>
</div>

