

@media (min-width: 575px) {
    
    .title{
        cursor: default;
    }

    .list-playlists{
        display: block;
    }

}

.custom-button{
    background-color: inherit;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 45px;
    width: 45px;
}

.custom-button:hover{
    background: var(--dark-grey);
    transition: .3s;
}

.custom-button-trash:hover{
    background: #b60000;
    transition: .3s;
}

.btn-green{
    background-color: var(--green);
    border-radius: 50px;
}
