<div class="container search-section">
    
    <div class="row my-2">
        <h5>What's new</h5>
    </div>

    <div class="row mb-2">
        <ul class="search-for nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active-link': activeTab === 'track'}" (click)="searchFor('track')" routerLink="/home/search/new" >Track</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active-link': activeTab === 'playlist'}" (click)="searchFor('playlist')" routerLink="/home/search/new" >Playlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active-link': activeTab === 'myPlaylist'}" (click)="searchFor('myPlaylist')" routerLink="/home/playlist" >My Playlists</a>
              </li>
        </ul>
    </div>

    <div class="row my-3">
        <form class="col-12 d-flex gap-2 px-1" (submit)="onSubmit($event)">
            <input type="text" class="search-bar form-control" placeholder="Search" [(ngModel)]="searchBar" name="searchBar">
            
            <button class="btn custom-button rounded-5" (click)="searchItem()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </form>
    </div>

    <div class="body-search-section">

        <router-outlet></router-outlet> 
    </div>
</div>


