<div class="container-fluid h-100">
    <div class="row d-flex align-items-center justify-content-center min-vh-100 ">
    
        <div class="col-6 text-center py-4 container-items">
    
            <div class="mb-4 d-flex gap-3 flex-column">
                <div class="icon">
                    <img src="../../../assets/img/Spotify_Icon_RGB_White.png" alt="spotify icon">
                </div>
                
                <h2>Playlist Managment</h2>
            </div>
            
            <button class="btn btn-log-in" (click)="login()">Log in</button>
            
        </div>
    </div>
</div>
