.icon img{
    height: 60px;
    width: 60px;
}

.container-items{
    background-color: var(--dark-grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-log-in{
    background-color: var(--green);
    color: #fff;
    width: 50%;
    border-radius: 50px;
    font-family: sans-serif;
    padding: 10px;
    font-weight: bold;
}

@media (max-width: 576px) { 
    .btn-log-in{
        width: 100%;   
    }
}